global
    maxconn 4096

defaults
    mode    tcp
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend nexdb_ssl_front
    # Bind to port 27018 with SSL termination
    bind *:27018 ssl crt /usr/local/etc/haproxy/certs/nexdb.pem
    default_backend nexdb_backend

backend nexdb_backend
    # Forward decrypted TCP requests to the NexDB core listener
    server nexdb1 nexdb:27017 check
